[mysql]
default-character-set=utf8mb4
[mysqld]
skip-host-cache
skip-name-resolve
loose-mecab-rc-file=/etc/mecabrc
# mecab で使うトークンサイズ
innodb_ft_min_token_size=1
# ngram で使うトークンサイズ
ngram_token_size=2
character-set-server=utf8mb4
collation-server=utf8mb4_general_ci
[client]
default-character-set=utf8mb4